.main-footer {
  background: var(--dark);
  color: var(--light);
  padding: 64px 16px;
  margin-top: 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer-content p {
  font-size: 16px;
}