.nav-logo{
    height: 40px;
    width: auto;

}

.nav{
  background: var(--dark);
  padding: 0;              
}


.nav-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1460px;          
  margin: 0 auto;         
  padding: 10px 30px;        
  position: relative;    
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  
}

.nav-links a {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--light);
}



.main-header{
    width: 100%;
} 

.login-btn {
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  color: var(--dark);
  padding: 10px 10px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
 
}

.login-btn:hover {
 filter: brightness(1.05);
}

.nav-links a:not(.login-btn) {
  position: relative;
  padding-bottom: 4px;
}

.nav-links a:not(.login-btn)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: var(--primary);
  border-radius: 2px;
  transition: width 0.25s ease;
}
.nav-links a:not(.login-btn).active::after {
  width: 100%;
}

.nav-links a:not(.login-btn):hover::after {
  width: 100%;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: var(--light);
  cursor: pointer;
}
@media (max-width: 600px) {

  .nav-toggle {
    display: block;
  }

   .nav-links{
    align-items: flex-end;
    display: none;
    position: absolute;
    top: 100%;          
    left: 0;
    right: 0;
    background: var(--dark);
    flex-direction: column;
    gap: 22px;
    padding: 20px;
    padding-right: 35px;
    z-index: 9999;      
  }


  .nav-links.is-open {
    display: flex;
    padding-bottom: 44px;
  }
}

@media (min-width: 1460px){
 .nav-inner{
  padding: 30px 50px;   
  }
  .nav-logo {
    height: 64px;
   
}
.nav-links a {
    font-size: 18px;
   
  }
}