.nav-logo{
    height: 40px;
    width: auto;

}

.nav{
  position: relative;
    display:flex;
    background: var(--dark);
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}


.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  
}

.nav-links a {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--light);
}



.main-header{
    width: 100%;
} 

.login-btn {
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  color: var(--dark);
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
 
}

.login-btn:hover {
  transform: translateY(-2px);
  filter: brightness(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.nav-links a:not(.login-btn) {
  position: relative;
  padding-bottom: 6px;
}

.nav-links a:not(.login-btn)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: var(--primary);
  border-radius: 2px;
  transition: width 0.25s ease;
}
.nav-links a:not(.login-btn).active::after {
  width: 100%;
}

.nav-links a:not(.login-btn):hover::after {
  width: 100%;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: var(--light);
  cursor: pointer;
}
@media (max-width: 600px) {

  .nav-toggle {
    display: block;
  }

   .nav-links{
    align-items: flex-end;
    text-align: left;
    display: none;
    position: absolute;
    top: 100%;          
    left: 0;
    right: 0;
    background: var(--dark);
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    padding-right: 35px;
    z-index: 9999;      
  }


  .nav-links.is-open {
    display: flex;
  }
}